@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import 'boxicons/css/boxicons.min.css';


:root {
    --bg-color1: #8cc63f;
    /* --bg-color2: rgba(255, 255, 255, 0.799); */
    --bg-color2: #f3f3f3;
    --text-color1: #183862;
    --para-color: rgb(116, 127, 142);
    --gradient-color: #4e9a2e;
    --primary-font:"Poppins", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    line-height: 26px;
}

::selection {
  background-color: var(--text-color1);
  color: var(--bg-color1);
}

a {
    text-decoration: none;
    transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 700;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}
